html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.purple {
  background: blueviolet;
}

.navbar {
  display: flex;
  margin: 2em;
  height: 10em;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 0em;
  margin-left: 10em;
  margin-right: 10em;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.feature {
  width: 13em;
  height: 10em;
}

.feature-heading-container{
  display: flex;
  justify-content: space-around;
}

.feature-header{
  margin-top: 1px;
}


.question-container {
  /* text-align: center; */
}

.question-box {
  display: flex;
  margin: 0.5em;
  margin-left: 14em;
  margin-right: 14em;
  height: 2em;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer {
  margin: 2em;
  margin-left: 14em;
  margin-right: 14em;
  height: 2em;
}
.btn {
  color: white;
  background-color: royalblue;
  padding: 0.5em;
  font-weight: 900;
}
